.btn-container {
  display: flex;
  vertical-align: middle;
}

.btn-buscar,
.btn-limpar {
  color: #fff;
  border: 1px solid transparent;
  margin: 0 0.5rem;
  border-radius: 5px;
  transition: 0.4s;
}

.btn-buscar {
  background-color: #000;
}
.btn-limpar {
  background-color: #ff0000;
}

.btn-buscar:hover,
.btn-limpar:hover {
  opacity: 0.6;
}
